<div class="panel panel-primary" ng-controller="Todo as $ctrl">
  <div ng-include="'/feature/todo/dialog.html'"></div>
  <div class="panel-heading">
    <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span> To Do List
  </div>
  <div class="panel-body">
    <task-list></task-list>
    <label>
      <input type="checkbox" ng-model="$ctrl.showComplete"/>
      Show Complete
    </label>
  </div>
  <div class="panel-footer">
    <div class="row">
      <div class="col-sm-2">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".edit-item-dialog">Add Item</button>
      </div>
      <div class="col-sm-offset-8 col-sm-2">
        <button type="button" class="btn btn-danger pull-right" ng-show="$ctrl.showRemoveAllCompleted($ctrl.todo.items)" ng-click="$ctrl.removeAllCompleted($ctrl.todo.items)">
          Remove all completed tasks
        </button>
      </div>
    </div>
  </div>
</div>
