<div>
    <h3 class="modal-title">{{$ctrl.user ? 'Update User' : 'Create User'}}</h3>
    <div class="panel">
        <form novalidate name="newTask" class="form-horizontal">
            <div class="form-group">
                <label for="name" class="control-label col-sm-2">Name:</label>
                <div class="col-sm-6">
                    <input id="name" name="name" class="form-control" ng-model="$ctrl.newUser.name"/>
                </div>
            </div>
        </form>
    </div>
    <button type="button" class="btn btn-secondary" ng-click="$ctrl.resetForm()">
        Reset
    </button>
    <button type="button" class="btn btn-primary"
            ng-click="$ctrl.saveUser($ctrl.newUser)" ng-hide="!$ctrl.newUser.name">
        Save
    </button>
</div>
