<div>
    <h3 class="modal-title">{{::$ctrl.task ? 'Update Task' : 'Create Task'}}</h3>
    <div class="panel">
        <form novalidate name="newTask" class="form-horizontal">
            <div class="form-group">
                <label for="action" class="control-label col-sm-2">Action:</label>
                <div class="col-sm-6">
                    <input id="action" name="action" class="form-control" ng-model="$ctrl.task.action"/>
                </div>
            </div>
            <div class="form-group">
                <label for="deadline" class="control-label col-sm-2">Deadline:</label>
                <div class="col-sm-6">
                    <input id="deadline" name="deadline" type="text" class="form-control"
                           ng-model="$ctrl.task.deadline" convert-to-date-string date-picker="yy-mm-dd"/>
                </div>
            </div>
            <div class="form-group">
                <label for="responsible" class="control-label col-sm-2">Responsible:</label>
                <div class="col-sm-6">
                    <select id="responsible" name="responsible"
                            ng-options="option.name for option in $ctrl.users track by option._id.$oid"
                            ng-model="$ctrl.user"></select>
                </div>
            </div>
            <div class="form-group">
                <label for="estimate" class="control-label col-sm-2">Estimate:</label>
                <div class="col-sm-6">
                    <input id="estimate" name="estimate" min="0" max="100" type="number"
                           class="form-control" ng-model="$ctrl.task.estimate"/>
                </div>
            </div>
            <div class="form-group">
                <label for="estimate" class="control-label col-sm-2">Done:</label>
                <div class="col-sm-6">
                    <input id="done" type="checkbox" ng-model="$ctrl.task.done"/>
                </div>
            </div>
        </form>
    </div>
    <button type="button" class="btn btn-secondary" ng-click="$ctrl.resetForm()">
        Reset
    </button>
    <button type="button" class="btn btn-primary"
            ng-click="$ctrl.saveTask($ctrl.task, $ctrl.user)" ng-hide="!$ctrl.task.action">
        Save
    </button>
</div>
